<body>
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h3>ANAGKAZO</h3>

  <label for="username">Email</label>
  <input type="text" placeholder="Email" id="username" formControlName="email">

  <label for="password">Mot de passe</label>
  <input type="password" placeholder="Mot de passe" id="password" formControlName="password">

  <button (click)="onSubmit()">
    &nbsp;Se connecter
  </button>
 <!-- <div class="social">
    <div class="go"><i class="fab fa-google"></i>  Google</div>
    <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
  </div>-->
</form>
</body>


<!--

<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h1>Connection</h1>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    autoComplete="email"
                    type="email"
                    formControlName="email"
                    placeholder="Email" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    formControlName="password"
                    autoComplete="current-password"
                    placeholder="Password"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton (click)="onSubmit()" class="px-4" color="primary">
                      &nbsp;Se connecter
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Mot de passe oublié
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
-->
