<!-- Single Season -->
<div class="single-season-list-area ptb-100">
  <div class="container">
    <div class="single-season-list-desc">
      <div class="single-season-list-content">
        <div class="row align-items-center">
          <div class="col-lg-2 col-md-12">
            <div class="image">
              <img src="assets/images/season/season-1.jpg" alt="image">
            </div>
          </div>
          <div class="col-lg-10 col-md-12">
            <ul class="playlist-list">
              <li>Episode: 01</li>
              <li>Dec 20, 2021</li>
            </ul>
           <ngx-audio-player
              [playlist]="msaapPlaylist"
              [displayTitle]="msaapDisplayTitle"
              [autoPlay]="false" muted="muted"
              [displayPlaylist]="msaapDisplayPlayList"
              [pageSizeOptions]="msaapPageSizeOptions"
              [displayArtist]="msaapDisplayArtist"
              [displayDuration]="msaapDisplayDuration"
              [expanded]="true"
              [displayVolumeControls]="msaapDisplayVolumeControls"
              [displayRepeatControls]="msaapDisplayRepeatControls"
              [disablePositionSlider]="msaapDisablePositionSlider">
            </ngx-audio-player>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
