<!--<perfect-scrollbar [config]="perfectScrollbarConfig">
<div class="col-md-12">
  <div class="content">
      <img *ngFor="let img of listGalerie; let i = index"
         [src]="img?.donnee?.url | safe"
         (click)="showLightbox(i)"
         class="content"
      />
  </div>
</div>
</perfect-scrollbar>-->
<div class="content">
  <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
    <slide *ngFor="let slide of listGalerie; let index=index">
      <img [src]="slide?.donnee?.url | safe" alt="image slide" style="display: block; width: 100%;">
      <div class="carousel-caption">
        <h1>Nos evenements en images</h1>
        <p>{{slide.intitule}}</p>
      </div>
    </slide>
  </carousel>
  <br/>
</div>
