<c-row ngPreserveWhitespaces>

  <c-accordion [alwaysOpen]="true">
    <c-accordion-item #item0="cAccordionItem" [visible]="false">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
          <strong>Ajout des fichiers audio pour les emissions et témoignages</strong>
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body">
          <form [formGroup]="mediaForm" (ngSubmit)="onSubmit()">
            <c-col [sm]="12">
              <c-card class="mb-4">
                <c-card-body>
                  <div class="container" >
                    <div fxFlex="25%">

                      <mat-card-header>
                        <mat-card-subtitle>
                          <span *ngIf="selectedFiles !== undefined">{{selectedFiles.length}} fichier(s) selectionné(s)</span>
                        </mat-card-subtitle>
                        <mat-card-subtitle>

                          <input cFormControl
                                 type="file"
                                 #fileInput
                                 class="form-control"
                                 (change)="selectFile($event)"
                                 ngModel multiple
                          />
                          <!--  <mat-form-field class="example-full-width" (click)="fileInput.click()">
                              <input matInput placeholder="Choisir plusieurs fichiers"
                                     value="{{fileInput.value.substr(fileInput.value.lastIndexOf('\\')+1)}}">
                              <mat-icon matSuffix>folder_open</mat-icon>
                            </mat-form-field>-->
                        </mat-card-subtitle>
                      </mat-card-header>

                    </div>
                    <div fxFlex="25%">
                      <mat-card>
                        <mat-card-header>
                          <mat-card-title *ngIf="!showProgress">Aucun fichier en cours de chargement!</mat-card-title>
                          <mat-card-title *ngIf="showProgress">Fichiers</mat-card-title>
                          <mat-card-subtitle *ngFor="let uploadedFile of uploadedFiles">
                            <mat-icon>insert_drive_file</mat-icon>
                            {{uploadedFile.name}} - {{uploadedFile.progress}}%
                            <mat-progress-bar mode="determinate" value="{{uploadedFile.progress}}"></mat-progress-bar>
                          </mat-card-subtitle>
                        </mat-card-header>
                      </mat-card>
                    </div>
                  </div>
                </c-card-body>
              </c-card>
            </c-col>
          </form>

          <br>
          <c-col [sm]="12">
            <c-card class="mb-6">
              <c-card-body>
                <div class="center">
                  <button cButton
                          (click)="onReset()"
                          class="bold btn">Annuler
                  </button>
                  &nbsp;&nbsp;&nbsp;
                  <button cButton (click)="AjouterAudios()"
                          class="bold btn">
                    Enregistrer
                  </button>
                </div>
              </c-card-body>
            </c-card>
          </c-col>
        </div>
      </ng-template>
    </c-accordion-item>

    <c-accordion-item #item1="cAccordionItem" [visible]="false">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item1.toggleItem()" [collapsed]="!item1.visible" cAccordionButton>
          <strong>Ajout des photos pour la galérie</strong>
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body">
          <form [formGroup]="mediaForm" (ngSubmit)="onSubmit()">
            <c-col [sm]="12">
              <c-card class="mb-4">
                <c-card-body>
                  <div class="container" >
                    <div fxFlex="25%">

                      <mat-card-header>
                        <mat-card-subtitle>
                          <span *ngIf="selectedFiles !== undefined">{{selectedFiles.length}} fichier(s) selectionné(s)</span>
                        </mat-card-subtitle>
                        <mat-card-subtitle>


                          <input cFormControl
                                 type="file"
                                 #fileInput
                                 class="form-control"
                                 (change)="selectFile($event)"
                                 ngModel multiple
                          />
                          <!--  <mat-form-field class="example-full-width" (click)="fileInput.click()">
                              <input matInput placeholder="Choisir plusieurs fichiers"
                                     value="{{fileInput.value.substr(fileInput.value.lastIndexOf('\\')+1)}}">
                              <mat-icon matSuffix>folder_open</mat-icon>
                            </mat-form-field>-->
                        </mat-card-subtitle>
                      </mat-card-header>

                    </div>
                    <div fxFlex="25%">
                      <mat-card>
                        <mat-card-header>
                          <mat-card-title *ngIf="!showProgress">Aucun fichier en cours de chargement!</mat-card-title>
                          <mat-card-title *ngIf="showProgress">Fichiers</mat-card-title>
                          <mat-card-subtitle *ngFor="let uploadedFile of uploadedFiles">
                            <mat-icon>insert_drive_file</mat-icon>
                            {{uploadedFile.name}} - {{uploadedFile.progress}}%
                            <mat-progress-bar mode="determinate" value="{{uploadedFile.progress}}"></mat-progress-bar>
                          </mat-card-subtitle>
                        </mat-card-header>
                      </mat-card>
                    </div>
                  </div>
                </c-card-body>
              </c-card>
            </c-col>
          </form>

          <br>
          <c-col [sm]="12">
            <c-card class="mb-6">
              <c-card-body>
                <div class="center">
                  <button cButton
                          (click)="onReset()"
                          class="bold btn">Annuler
                  </button>
                  &nbsp;&nbsp;&nbsp;
                  <button cButton (click)="AjouterPhotos()"
                          class="bold btn">
                    Enregistrer
                  </button>
                </div>
              </c-card-body>
            </c-card>
          </c-col>
        </div>
      </ng-template>
    </c-accordion-item>
  </c-accordion>
</c-row>





