<div class="col-md-12">
  <h1 class="bold">
    Les enseignements
  </h1>

  <div class="container">
    <span class="cols-md-6">
       <select #typeEnseignement cSelect class="mb-3" style="width:130px;">
        <option [ngValue]="typeEnseignement.intitule" *ngFor="let typeEnseignement of listTypeEnseignement; index as i"
                [attr.selected]="typeEnseignement.intitule">
                {{typeEnseignement.intitule}}
        </option>
      </select>
    </span>

    <span class="cols-md-6" style="margin-left: 10px">
       <select #titreMessage cSelect class="mb-3" >
        <option [ngValue]="titreMessage.intitule" *ngFor="let titreMessage of listTitreMessage; index as i"
                [attr.selected]="titreMessage.intitule">
          {{titreMessage.intitule}}
        </option>
      </select>
    </span>
  </div>

  <div class="container">
    <span class="cols-md-8">
      <button cButton class="mb-3" style="width:100px; background-color: #FFC61A ; border: none" (click)="onReset()" >
        Annuler
      </button>
    </span>
    <span class="cols-md-8" style="margin-left: 10px">
      <button cButton class="mb-3" style="width:100px; background-color: #106BB1; border: none" (click)="onSelected()" >
        Afficher
      </button>
    </span>
  </div>



  <app-default-card *ngFor="let item of this.listEnseignement;"
                    [item]="item"
                    [description]="item.description"
                    [typeEmission]="item.typeEmission"
                    [titreMessage]="item.titreMessage"
                    [setToYoutubeBtn]="youtubeBtnObj"
                    [typeEnseignement]="item.typeEnseignement"
                    (managePlayingBtn) = "managePlayingBtnComponent($event)"
  >
  </app-default-card>

  <app-chargement *ngIf="isLoading">{{ isLoading }}</app-chargement>

  <!--<div class="jumbotron text-center">
    <h4>'isLoading' = {{isLoading}}</h4>
  </div>

  <button class="btn btn-block btn-success mb-3" (click)="isLoading = !isLoading">
    infinite
  </button>

  <button class="btn btn-block btn-warning mb-3" (click)="load()">
    with Timeout 2 seconds
  </button>

  <button class="btn btn-block btn-primary mb-3" (click)="start()">
    start time consuming function - doesn't work
  </button>-->
</div>
