.default-card-style {
  height: 150px;
  width: 560px;
}.border-t-2 {
  border-top-width: 2px;
}.border-r-2 {
  border-right-width: 2px;
}.center {
  text-align: center;
}.image {
  border-radius: 10px;
  img { border-radius: 10px;}
}.img-icon {
   width: 40px;
   height: 40px;
   margin-left: 20px;
   margin-top: -10px;
   padding: 0px;
   border: none;
   inset: 0px;
   box-sizing: border-box;
}.img-share {
   width: 40px;
   height: 50px;
}
.img-temoigner { width: 40px; height: 50px;}
.title { font-weight: bold; margin-left: 20px }
.btn-link { border: none;background-color: white;height: 20px;}
.liens { text-decoration: none; color: black;}
.controls { display: flex; flex-direction: row; align-items: center; width: 100px; margin-top: -10px;}
#player { width: 100%; }
.partager { height: 30%;border-top: 1px #F2F4F7 solid; display: flex; }
.play,
.pause {
  width:  45px;
  height: 45px;
  float:  left;
  padding-right: 20px;
}
p { margin: 0; }
a { text-decoration: none;}
.color-panel { height: 70%; border-bottom: 2px #F2F4F7 solid; background-color: #F1F3F4;}
.container {
  position: relative;
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  display: flex;
}

#checkbox {
  width: 75px;
  height: 45px;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  background: white;
  position: relative;
}
#checkbox:hover {
  background: rgba(255, 255, 255, .7);
}
#checkbox::before {
  content: '\f1e0';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'font awesome 5 free';
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(41, 41, 41);
  transition: all 1.5s;
}
#checkbox:checked::before {
  content: '\f00d';
}
#checkbox:checked ~ .menu {
  width: 264px; /* 4 * 65 + 4 * 1 pour la bordure */
}
.menu {
  width: 0;
  display: flex;
  transition: all .5s;
}
.menu .menuItems {
  width: 70px;
  height: 45px;
  background: white;
  border-left: 1px solid rgb(165, 165, 165);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none
}
.menu .menuItems:hover {
  background: rgba(255, 255, 255, .7);
}
.menu .menuItems i {
  font-size: 1.8rem;
}
.fa-whatsapp {
  color: #25d366;
}
.fa-instagram {
  color: #c32aa3;
}
.fa-facebook {
  color: #273c75;
}
.fa-twitter {
  color: #1da1f2;
}

