<div class="col-md-12">
  <br><br>
  <p class="bold center">
    Réveillez-vous en priant et en louant le Seigneur tous les jours!
  </p>

  <br><br>

  <div class="col-md-6" class="content">
    <img class="image-style" src="assets/images/prophete-ange-josaphat.jpg" alt="image">
  </div>

  <br><br>

  <span class="parent">
     Anagkazo est une émission pour réveiller spirituellement les chrétiens afin de permettre au Saint-Esprit de réaliser la volonté de Dieu. <br>
    Je suis convaincu que c'est le temps du réveil et Jésus veut récupérer beaucoup d'âmes pour le royaume de Dieu.
  </span>


</div>
