.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
.image-style {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
}.content {
   display: inline-block;
   position: relative;
   /* Move the element to the right by 50% of the container's width */
   left: 50%;
   /* Calculates 50% of the element's width, and moves it by that */
   /* amount across the X-axis to the left */
   transform: translateX(-50%);
}.parent{
  font-style: font-weight(16);
  display: flex;
  justify-content: center; /* Centering Horizantly */
  align-items: center; /* Centering Vertically */
  /* Every element inside this div will be centered*/
}
