header {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  color: var(--text-color);
  background-color: #f9f9f9  !important;
  background-image: url('../../../assets/img/brand/logo.gif');
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 30%;
  height: 80vh;
}

p {
  color: var(--text-color);
  font-size: 15px
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color-dark);
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  line-height: 1.2
}

.form-control {
  height: 50px;
  border-radius: 25px;
  border: 0;
  padding: 0 20px
}

.form-control:focus {
  border: 0;
  box-shadow: none !important
}

textarea.form-control {
  height: 150px;
  padding: 20px
}


a,
a:hover,
a:focus {
  text-decoration: none;
  color: var(--primary-color)
}

a:hover,
a:focus {
  color: var(--primary-color)
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease
}

a:focus,
button:focus,
select:focus {
  outline: 0
}

.slick-slide {
  outline: 0
}

.section {
  padding-top: 80px;
  padding-bottom: 80px
}

@media(max-width:768px) {
  .section {
    padding-top: 60px
  }
}

.section-sm {
  padding-top: 60px;
  padding-bottom: 60px
}

@media(max-width:768px) {
  .section-sm {
    padding-top: 40px
  }
}

.section-title {
  margin-bottom: 40px
}

.bg-cover {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat
}

.border-primary {
  border-color: #f2f2f2 !important
}

pre {
  padding: 20px
}

.overlay {
  position: relative
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--primary-color);
  opacity: .8
}

.outline-0 {
  outline: 0 !important
}

.d-unset {
  display: unset !important
}

.text-primary {
  color: var(--primary-color) !important
}

.text-color {
  color: var(--text-color) !important
}

.text-dark {
  color: var(--text-color-dark) !important
}

.text-white {
  color: var(--white-color) !important
}

.top-50 {
  top: 50px
}

.lang-list {
  background: var(--primary-color);
  color: var(--white-color)
}

.lang-list.dark {
  color: var(--text-color-dark);
  background: var(--white-color)
}

.banner {
  overflow: hidden
}

.banner p {
  font-size: 20px;
  opacity: .8
}

.banner .nav-link.text-dark {
  color: var(--white-color) !important
}

.banner .nav-link.text-dark:hover {
  color: var(--white-color) !important
}

.banner .navbar-brand {
  color: var(--white-color) !important
}

#project-icon {
  float: left;
  height: 32px;
  width: 32px
}

#project-description {
  margin: 0;
  padding: 0
}

.ui-helper-hidden-accessible {
  display: none
}

textarea.form-control {
  height: 150px;
  padding: 20px
}

.icon {
  font-size: 40px
}

.shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .07) !important;
  transition: .3s ease
}

.shadow-bottom {
  box-shadow: 0 1px 0 rgba(12, 13, 14, .1), 0 1px 6px rgba(59, 64, 69, .1)
}

.shadow:hover,
.shadow:focus {
  box-shadow: 0 14px 25px rgba(0, 0, 0, .1) !important
}

.content * {
  margin-bottom: 20px
}

.content img {
  max-width: 100%;
  height: auto;
  margin: 0 auto 15px;
  display: block;
  text-align: center
}

.content ul {
  padding-left: 0;
  margin-bottom: 20px
}

.content ul li {
  padding-left: 20px;
  position: relative
}

.content ul li::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--primary-color);
  opacity: .3;
  left: 0;
  top: 8px
}

.post-meta {
  color: var(--text-color);
  font-style: italic;
  font-size: 14px
}

blockquote {
  font-size: 20px !important;
  color: var(--text-color-dark);
  padding: 20px 40px;
  border-left: 2px solid var(--primary-color);
  margin: 40px 0;
  font-weight: 700;
  background: var(--light-color)
}

blockquote p {
  margin-bottom: 0 !important
}

#accordion i {
  font-size: 14px;
  line-height: 2
}

.notices {
  margin: 2rem 0;
  position: relative
}
.sidebar {
  background-color: var(--white-color);
  position: sticky;
  top: 50px;
  margin-bottom: 30px;
  padding: 40px 10px 20px
}


p:empty,
p a:empty {
  display: none !important
}

pre {
  display: block;
  padding: 9.5px;
  margin: 10px 0
}

code {
  margin-bottom: 0 !important;
  font-size: 100%
}

.back-btn {
  position: relative
}

.back-btn::before {
  position: absolute;
  font-family: themify;
  content: "\e6bc";
  font-size: 25px;
  height: 30px;
  width: 40px;
  background-color: var(--white-color);
  color: inherit;
  text-align: right;
  z-index: 1;
  left: -5px;
  top: -5px
}

.ui-autocomplete-input {
  border-bottom: 1px solid #d4d4d4 !important
}

.ui-autocomplete-input.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 14px
}

i {
  transition: .2s ease
}

a:hover i {
  color: var(--primary-color)
}

pre code::-webkit-scrollbar {
  height: 5px
}

pre code::-webkit-scrollbar-track {
  background: #000
}

pre code::-webkit-scrollbar-thumb {
  background: #888
}
