// Here you can add other styles
//@import '~@riapacheco/yutes/yutes.scss';
@import '~@riapacheco/yutes/colors.scss';
// Z-INDEX Tracking
app-root { z-index: 1; }
app-toast, .toast-class { z-index: 2;}
.body-color {
  background-color: #FFFFFF !important;
}.body-header {
   background-color: #FFC61A !important;
}
a { text-decoration: black;}
