:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}
.content {
   color: #0363AD;
   font-weight: bold;
   font-family: Roboto;
   display: inline-block;
   position: relative;
   margin-top: -10px;
   /* Move the element to the right by 50% of the container's width */
   left: 50%;
   /* Calculates 50% of the element's width, and moves it by that */
   /* amount across the X-axis to the left */
   transform: translateX(-50%);
}
.image-clignote  {
  animation-duration: .8s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}

